/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-mag-2015, 19.05.01
    Author     : B I G
*/

#censura 
{
	margin-top:1%;
	margin-bottom: 3%;
	margin-left:7%;
}

#post-container-administrator
{
	padding:1%;
	margin: auto;
	border: 1px solid #66ff66;
	border-radius:15px;
	width:85%;
}

#title-ad{
	margin-left: 40%;
}